[SddmGreeterTheme]
Name=frost
Description=Frost SDDM Theme for Plasma
Author=kalyan
License=GPLv.3
Type=sddm-theme
Version=1.1
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=kannakalyan05@gmail.com
Theme-Id=forst
